{% extends 'base.html' %}

{% load staticfiles %}

{% block head_title %} Intermediate Mode {% endblock %}

{% block content %} 

<link href="{% static 'css/game/core.css' %}" rel="stylesheet"> <!-- Found at https://github.com/dwmkerr/html5base-->
<link href="{% static 'css/game/typeography.css' %}" rel="stylesheet"> <!-- Styling needed for a fullscreen canvas and no scrollbars.  -->
<link href="{% static 'css/game/basic.css' %}" rel="stylesheet"> <!-- Here's where we'll put the Game styles -->


<!-- this is where the Space Invaders HTML will go... */ -->

<!-- Here's the background div -->
<div id="BG"></div>
<!-- Here's the game container div-->
<div id="gamecontainer">
	<canvas id="gameCanvas"></canvas>
</div> 

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script type="text/javascript" src="{% static 'js/game/saveScore.js' %}"></script>
<script type="text/javascript" src="{% static 'js/game/problemGenerator.js' %}"></script>


{% endblock %}