{% extends 'base.html' %}

{% load staticfiles %}

{% block head_title %} Master Mode {% endblock %}

{% block content %} 

<link href="{% static 'css/game/core.css' %}" rel="stylesheet"> <!-- Found at https://github.com/dwmkerr/html5base-->
<link href="{% static 'css/game/typeography.css' %}" rel="stylesheet"> <!-- Styling needed for a fullscreen canvas and no scrollbars.  -->
<link href="{% static 'css/game/basic.css' %}" rel="stylesheet"> <!-- Here's where we'll put the Game styles -->

<div id="BG"></div>
<div id="gamecontainer">
	<canvas id="gameCanvas"></canvas>
</div> 

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script type="text/javascript" src="{% static 'js/game/saveScore.js' %}"></script>
<script type="text/javascript" src="{% static 'js/game/BG.js' %}"></script> <!-- Activating the background script -->
<script type="text/javascript" src="{% static 'js/game/layout.js' %}"></script> <!-- js for canvas layout -->

{% endblock %}