html,
body
  {
  background: radial-gradient(circle,#3498db,white);
  }
    .menu-container {
        margin-top: 50;
        margin-left: auto;
        margin-right: auto;
        width: 800px;
        height: 500px;
        background: white
        padding: 20px;
    }
    .title {
        text-align: center;
        margin-bottom: 20px;

    }
    .buttons {
        margin-top: 50px;
        margin-left: 270px;

    }
    .btn {
        width: 200px;
        height: 50px;
        margin-top: 10px;
    }
