{% extends 'base.html' %}

{% load staticfiles %}

{% block head_title %} About {% endblock %}

{% block content %}

<link href="{% static 'css/hamath/basic.css' %}" rel="stylesheet">

<div class="menu-container">
	<div class="title">
		<h1> About Us</h1>
		<style>
		table, th, td{
			border: 1px transparent;
			border-collapse: collapse;
			align-items: center;
		}
		th, td{
			padding: 15px;
		}

		h1{
			color: #AED6F1;
			text-align: center;
			text-shadow: 2px 2px #2874A6  ;
		}
		h3{
			color: #b3d9ff;
		}
		
		</style>
		<table style="width: 100%">

		<tr>
		<td><img src="{% static 'images/henrique.jpg' %}" alt= "" style= "width:120px; height:120px;" align="left"><h3><i>Henrique</h3></i></td>
		<td><img src="{% static 'images/1b.png' %}" alt= "" style= "width:120px; height:120px;" align="bottom"></td>
		</tr>
		<tr><td><img src="{% static 'images/armora.jpg' %}" alt= "" style= "width:120px; height:120px;" align="left"><h3><i>Armora</h3></i></td>
		<td></td>
		<td><img src="{% static 'images/1r.png' %}" alt= "" style= "width:120px; height:120px;" align="bottom"></td>
		</tr>
		<tr><td><img src="{% static 'images/aidan.jpg' %}" alt= "" style= "width:120px; height:120px;" align="left"><h3><i>Aidan</h3></i></td>
		<td><img src="{% static 'images/2y.png' %}" alt= "" style= "width:120px; height:120px;" align="bottom">
		</tr>
		<tr><td><img src="{% static 'images/merritt.jpg' %}" alt= "" style= "width:120px; height:120px;" align="left"><h3><i>Merrett</h3></i></td>
		<td></td>
		<td><img src="{% static 'images/3p.png' %}" alt= "" style= "width:120px; height:120px;" align="bottom"></td>
		</tr>
	</div>
	</div>

{% endblock %}