{% extends 'base.html' %}

{% load staticfiles %}

{% block head_title %} About {% endblock %}

{% block content %}

<link href="{% static 'css/hamath/basic.css' %}" rel="stylesheet">

<div class="menu-container">
	<div class="title">
		<h3>
			About Hamath
		</h3>
		<h4>
			 Hamath is a math game created for Westminster College's spring 2016 software engineering class. Our team consist of <b>H</b>enrique, <b>A</b>idan, <b>M</b>erritt, and <b>A</b>rmora.
		</h4>
		<h4>
			 Verison: {{ version }}
		</h4>
	</div>
</div>

{% endblock %}
