{% extends 'base.html' %}

{% load staticfiles %}

{% block head_title %} Contact {% endblock %}

{% block content %}

<link href="{% static 'css/hamath/basic.css' %}" rel="stylesheet">

<div class="menu-container">
	<div class="title">
		<h3> Contact Information </h3>
	 <a href="https://github.com/TheBigTeam/hamath-workspace ">Visit our github to contact us!
		 <font size="10">
	 </a>
	</div>
<form id="contact_form" action="#" method="POST" enctype="multipart/form-data">
	<div class="row">
		<label for="name"><h5>Your name: </h5></label><br />
		<input id="name" class="input" name="name" type="text" value="" size="10" /><br />
	</div>
	<div class="row">
		<label for="email"><h5>Your email:<h5></label><br />
		<input id="email" class="input" name="email" type="text" value="" size="25" /><br />
	</div>
	<div class="row">
	<label for="message"><h5>Your message:</h5></label><br />
		<textarea id="message" class="input" name="message" rows="3" cols="20"></textarea><br />
	</div>
	<input id="submit_button" type="submit" value="Send email" />
</form>						
	
</div>

{% endblock %}
