{% extends 'base.html' %}

{% load staticfiles %}

{% block head_title %} Signup {% endblock %}

{% block content %} 

<link href="{% static 'css/hamath/register.css' %}" rel="stylesheet">

<div class="register-container">
    <div class="register-form">
    	<div class="title">
    		<p><h3>User Signup</h3></p>
    	</div>
		<form action="" method="post">
			{% csrf_token %}
			{% if form.errors %}<p>Please correct the following fields:</p>{% endif %}
			<div class="register_div">
			    {% if form.username.errors %}<p class="error">{{ form.username.errors }}</p>{% endif %}
			    <div class="register_div">
			    <p>{{ form.username }}</p>
			    <p><label for="username"{% if form.username.errors %} class="error"{% endif %}></label></p>
			    </div>
			</div>
			<div class="register_div">
			    {% if form.first_name.errors %}<p class="error">{{ form.first_name.errors }}</p>{% endif %}
			    <p>{{ form.first_name }}</p>
			    <p><label for="first_name"{% if form.first_name.errors %} class="error"{% endif %}></label></p>
			</div>
			<div class="register_div">
			    {% if form.last_name.errors %}<p class="error">{{ form.last_name.errors }}</p>{% endif %}
			    <p>{{ form.last_name }}</p>
			    <p><label for="last_name"{% if form.last_name.errors %} class="error"{% endif %}></label></p>
			</div>
			<div class="register_div">
			    {% if form.email.errors %}<p class="error">{{ form.email.errors }}</p>{% endif %}
			    <p>{{ form.email }}</p>
			    <p><label for="email"{% if form.email.errors %} class="error"{% endif %}></label></p>
			</div>
			<div class="register_div">
			    {% if form.password.errors %}<p class="error">{{ form.password.errors }}</p>{% endif %}
			    <p>{{ form.password }}</p>
			    <p><label for="password"{% if form.password.errors %} class="error"{% endif %}></label></p>
			</div>
			<div class="register_div">
			    {% if form.password1.errors %}<p class="error">{{ form.password1.errors }}</p>{% endif %}
			    <p>{{ form.password1 }}</p>
			    <p><label for="password1"{% if form.password1.errors %} class="error"{% endif %}></label></p>
			</div>
			<div class="submit">
				<p><input class="btn btn-primary" type="submit" value="Submit"alt="register"></p>
			</div>
		</form>
	</div>
</div>

{% endblock %}