{% extends 'base.html' %}

{% load staticfiles %}

{% block head_title %} Apply For Teacher Credentials {% endblock %}

{% block content %}

<link href="{% static 'css/hamath/basic.css' %}" rel="stylesheet">

<div class="menu-container">
	<div class="title">
		<h3>
			Apply For Teacher Credentials
		</h3>
		<h4>
			 If you need to register as a teacher, you must first sign up normally (this will provide you with student credentials by default), then you must apply for teacher credentials by emailing one of hamath's admins. One of our admin will then provide you with appropriate credentials.
		</h4>
		<h4>
			 The Admin's Email: alm0415@westminstercollege.edu
		</h4>
	</div>
</div>

{% endblock %}
