body, html { 
	width: 100%;
	height: 100%;
	margin: 0; /* margin distance */
	padding: 0; /* usedfor distance of the the page content (or a div) to the margin */
	overflow: hidden; /* specifies what happens if content overflows an element's box. */
}

#BG /* stylying for the background*/
{
	width: 100%; 
	height: 100%;
	position: absolute; /* Absolute: The element is positioned relative to its first positioned (not static) ancestor element */ 
						/*Use relative for position relative to its normal position, plus adding the px under, in the left right thingy*/
	left: 0px;
	top: 0px;
	z-index: -1;
} 

#gamecontainer /* game container 'styling', pretty much just positioning it in the kinda middle*/
{
	/* Setting the width of the container */
	width: 800px;

	/* margin property to auto to horizontally center the element within its container */
	margin-left: auto;
	margin-right: auto;
} 

.planet-earth {
	margin-top: -100px;
	text-align: center;
}

.problem {
	margin-top: -600px;
	text-align: left;
}

.solution {
	margin-top: -40px;
	text-align: right;
}